#### Web Scarping Assignment 2 (Selenium) - Vinayak Ratan

In [1]:
# Importing all the necessary libraries required to Scrape data using Selenium
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
### have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
### jobs data.

In [2]:
# Connecting the driver, using chromedriver
driver = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [3]:
# To get the webpage https://www.naukri.com/ to scrape data 
driver.get("https://www.naukri.com/")

In [4]:
# Entering “Data Analyst” in “Skill, Designations, Companies” field
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

In [5]:
# Entering “Bangalore” in “enter the location” field.
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [6]:
# Then click the search button
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [7]:
# Creating an empty list for the data to be scraped 
job_title =[]
job_location = []
company_name = []
experience_reqd = []

# Scraping Job title from the given page
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)

# Scraping Job Location from the given page
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)   

    
# Scraping Company Name from the given page
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name.append(company)
    


# Scraping Job title from the given page
experience_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience = i.text
    experience_reqd.append(experience)

In [8]:
# Checking the length of each data scarped before creating the dataframe
print(len(job_title), len(job_location), len(company_name), len(experience_reqd))

10 10 10 10

In [9]:
# Creating the DataFrame for the first 10 jobs for Data Analyst in Bangalore
data_analyst = pd.DataFrame({'Job-title':job_title, 'Job-location':job_location,"Company-name": company_name, "Experience-reqd": experience_reqd})
print('-'*15,"First 10 jobs in “Data Analyst” Job position in “Bangalore” location",'-'*15)
data_analyst

--------------- First 10 jobs in “Data Analyst” Job position in “Bangalore” location ---------------

,Job-title,Job-location,Company-name,Experience-reqd
0,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
1,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
2,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
4,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies,0-1 Yrs
5,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
6,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
8,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs
9,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",Concentrix,3-8 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
### have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [10]:
# Connecting the driver, using chromedriver
driver = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [11]:
# To get the webpage https://www.naukri.com/ to scrape data 
driver.get("https://www.naukri.com/")

In [12]:
# Entering “Data Scientist” in “Skill, Designations, Companies” field
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [13]:
# Entering “Bangalore” in “enter the location” field.
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Bangalore")

In [14]:
# Then click the search button
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [15]:
# Creating an empty list for the data to be scraped 
job_title_ds =[]
job_location_ds = []
company_name_ds = []
experience_reqd_ds = []

# Scraping Job title from the given page
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title_ds.append(title)

# Scraping Job Location from the given page
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    location = i.text
    job_location_ds.append(location)   

    
# Scraping Company Name from the given page
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name_ds.append(company)
    


# Scraping Job title from the given page
experience_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience = i.text
    experience_reqd_ds.append(experience)

In [16]:
# Checking the length of each data scarped before creating the dataframe
print(len(job_title_ds), len(job_location_ds), len(company_name_ds), len(experience_reqd_ds))

10 10 10 10

In [17]:
# Creating the DataFrame for the first 10 jobs for Data Scientist in Bangalore
data_scientist = pd.DataFrame({'Job-title':job_title_ds, 'Job-location':job_location_ds,"Company-name": company_name_ds, "Experience-reqd": experience_reqd_ds})
print('-'*15,"First 10 jobs in “Data Scientist” Job position in “Bangalore” location",'-'*15)
data_scientist

--------------- First 10 jobs in “Data Scientist” Job position in “Bangalore” location ---------------

,Job-title,Job-location,Company-name,Experience-reqd
0,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS),3-8 Yrs
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC,5-12 Yrs
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture,6-8 Yrs
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
4,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro,5-10 Yrs
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited,4-9 Yrs
6,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro,11-20 Yrs
7,Data Scientist Python,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Conduent,3-7 Yrs
8,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech,5-9 Yrs
9,Data Scientist,Bangalore/Bengaluru,Concentrix,7-12 Yrs

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:       
### You have to use the location and salary filter.
### You have to scrape data for “Data Scientist” designation for first 10 job results.
### You have to scrape the job-title, job-location, company name, experience required.
### The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [18]:
# Connecting the driver, using chromedriver
driver = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [19]:
# To get the webpage https://www.naukri.com/ to scrape data 
driver.get("https://www.naukri.com/")

In [20]:
# Entering “Data Scientist” in “Skill, Designations, Companies” field
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

In [21]:
# Entering “Delhi/NCR” in “enter the location” field.
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys("Delhi/NCR")

In [22]:
# Then click the search button to go to the respective page
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [23]:
# Filtering the data based on Salary from “3-6” lakhs
filter_sal = driver.find_element(By.XPATH, '//span[@title="3-6 Lakhs"]')
filter_sal.click()

In [24]:
# Creating an empty list for the data to be scraped 
job_title_ds_delhi =[]
job_location_ds_delhi = []
company_name_ds_delhi = []
experience_reqd_ds_delhi = []

# Scraping Job title from the given page
title_tags = driver.find_elements(By.XPATH, '//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title = i.text
    job_title_ds_delhi.append(title)

# Scraping Job Location from the given page
location_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi location"]//span')
for i in location_tags[0:10]:
    location = i.text
    job_location_ds_delhi.append(location)   

    
# Scraping Company Name from the given page
company_tags = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company = i.text
    company_name_ds_delhi.append(company)
    


# Scraping Job title from the given page
experience_tags = driver.find_elements(By.XPATH, '//li[@class="fleft grey-text br2 placeHolderLi experience"]//span')
for i in experience_tags[0:10]:
    experience = i.text
    experience_reqd_ds_delhi.append(experience)

In [25]:
# Checking the length of each data scarped before creating the dataframe
print(len(job_title_ds_delhi), len(job_location_ds_delhi), len(company_name_ds_delhi), len(experience_reqd_ds_delhi))

# Creating the DataFrame for the first 10 jobs for 'Data Scientist' in 'Delhi/NCR'
data_scientist_delhi = pd.DataFrame({'Job-title':job_title_ds_delhi, 'Job-location':job_location_ds_delhi,"Company-name": company_name_ds_delhi, "Experience-reqd": experience_reqd_ds_delhi})
print('-'*15,"First 10 jobs in “Data Scientist” Job position in “Delhi/NCR” location",'-'*15)
data_scientist_delhi

10 10 10 10
--------------- First 10 jobs in “Data Scientist” Job position in “Delhi/NCR” location ---------------

,Job-title,Job-location,Company-name,Experience-reqd
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Risk / Fraud L1,Bangalore/Bengaluru,Gojek,1-2 Yrs
2,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
3,Data Scientist,Bangalore/Bengaluru,Infosys,2-7 Yrs
4,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
5,Data Scientist,Bangalore/Bengaluru,Applied Materials,4-7 Yrs
6,Data Scientist,Bangalore/Bengaluru,Applied Materials,2-4 Yrs
7,Data Scientist - Risk Platform,Bangalore/Bengaluru,Gojek,5-11 Yrs
8,Decision Scientist,Bangalore/Bengaluru,Gojek,4-9 Yrs
9,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
### 1. Brand
### 2. Product Description
### 3. Price

In [26]:
# Connecting the driver, using chromedriver
driver = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [27]:
# To get the webpage https://www.flipkart.com/ to scrape data 
driver.get("https://www.flipkart.com/")

In [28]:
# Closing the login pop-up
close_login = driver.find_element(By.XPATH, '//button[@class="_2KpZ6l _2doB4z"]')
close_login.click()

In [29]:
# Enter “sunglasses” in the search field where “search for products, brands and more” is written
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("sunglasses")

In [30]:
# clicking on the search icon after entering the product name
search = driver.find_element(By.CLASS_NAME, "_34RNph")
search.click()

In [31]:
# Creating an empty list for the data to be scraped 
brand_sg =[]
product_description_sg = []
price_sg = []
discount_sg = []


# Scarping 100 sunglasses
for page in range(0,3):
    # Scraping the brand names of the sunglasses
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for brand in brand_tags:
        brand_sg.append(brand.text)
        
    # Scraping the product description of sunglasses
    product_description_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for pr_des in product_description_tags:
        product_description_sg.append(pr_des.text)
    
    # Scraping the 'Price' of the sunglasses
    price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for price in price_tags:
        price_sg.append(price.text)
        
    # Scraping the "Discount" given for the sunglasses
    discount_tags = driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]//span')
    for discount in discount_tags:
        discount_sg.append(discount.text)
        
    # Moving the next page of sunglasses
    next_page = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]//span')
    next_page.click()
    time.sleep(3)
    
print(len(brand_sg),len(product_description_sg),len(price_sg),len(discount_sg))

120 119 120 120

In [32]:
# Creating a DataFrame for 100 sunglasses
sunglasses_df = pd.DataFrame({'Brand':brand_sg[0:100], 'Product Description':product_description_sg[0:100],"Price":price_sg[0:100], "Discount":discount_sg[0:100]})
print('-'*25,"First 100 sunglasses",'-'*25)
sunglasses_df

------------------------- First 100 sunglasses -------------------------

,Brand,Product Description,Price,Discount
0,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (55)",₹499,75% off
1,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (55)",₹499,75% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹204,79% off
4,SRPM,UV Protection Wayfarer Sunglasses (50),₹189,85% off
...,...,...,...,...
95,Fair-x,"Mirrored, Riding Glasses, UV Protection Sports...",₹360,75% off
96,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499,75% off
97,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719,20% off
98,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195,88% off
99,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹349,76% off

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
### As given in the page you have to scrape the tick marked attributes.These are:
### 1. Rating
### 2. Review summary
### 3. Full review
### 4. You have to scrape this data for first 100 reviews.

In [45]:
# Connecting the driver, using chromedriver
driver = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [46]:
# To get the webpage https://www.flipkart.com/ to scrape data 
driver.get("https://www.flipkart.com/")

In [47]:
# Closing the login pop-up
close_login = driver.find_element(By.XPATH, '//button[@class="_2KpZ6l _2doB4z"]')
close_login.click()

In [48]:
# Enter “iphone 11” in the search field
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("iphone 11")

In [49]:
# clicking on the search icon after entering the product name
search = driver.find_element(By.CLASS_NAME, "_34RNph")
search.click()

In [50]:
# clicking on the first iphone, then later scraping ratings, review summary and full review
iphone11 = driver.find_element(By.CLASS_NAME,"_4rR01T")
iphone11.click()

In [51]:
# clicking on the all 6810 reviews
# all_reviews = driver.find_element(By.XPATH, '')
# all_reviews

In [55]:
# Creating empty list to scrape required data
rating_ip11 =[]
review_summary_ip11 =[]
full_review_ip11 =[]


# Using nested for loop to scrape 100 review details for "iphone 11"
# Since on the page only 10 reviews are available after inspecting, we need to click on '+' to get more reviews
for ip_11 in range(0,20):
    # Scraping the rating of "iphone 11"
    rating = driver.find_elements(By.XPATH, '//div[@class="_3LWZlK _1BLPMq"]')
    for rt in rating:
        rating_ip11.append(rt.text)
        
    # Scraping the review summary for "iphone 11"
    review_summary = driver.find_elements(By.XPATH, '//p[@class="_2-N8zT"]')
    for rs in review_summary:
        review_summary_ip11.append(rs.text)
        
    # Scraping the full review for "iphone 11"
    full_review = driver.find_elements(By.XPATH, '//div[@class="t-ZTKy"]//div//div')
    for fr in full_review:
        full_review_ip11.append(fr.text)
        
    # clicking on the '+' button to get other reviews
#     all_reviews.click()
#     time.sleep(2)


print(len(rating_ip11),len(review_summary_ip11), len(full_review_ip11))

100 120 120

In [56]:
# Creating a DataFrame for 100 'iphone 11' reviews
ip11_df = pd.DataFrame({'Rating':rating_ip11,'Review Summary':review_summary_ip11[0:100], 'Full review': full_review_ip11[0:100]})
print('-'*25,"First 100 reviews of iphone 11",'-'*25)
ip11_df

------------------------- First 100 reviews of iphone 11 -------------------------

,Rating,Review Summary,Full review
0,4,Good quality product,impressively Nice......\nOne of the greatest i...
1,5,Perfect product!,Nice products thanks flkat
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Simply awesome,Nice product thank you Flipkart ❤️
4,5,Best phone still @25-27K,Purchased at BBD @2016 Oct. After 5months of u...
...,...,...,...
95,4,Terrific,I am using the phone for last 5 years and foun...
96,5,Good quality product,impressively Nice......\nOne of the greatest i...
97,5,Perfect product!,Nice products thanks flkat
98,5,Simply awesome,Really satisfied with the Product I received.....
99,5,Simply awesome,Nice product thank you Flipkart ❤️

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
### search field.
### You have to scrape 4 attributes of each sneaker:
### 1. Brand
### 2. Product Description
### 3. Price

In [57]:
# Connecting the driver, using chromedriver
driver = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [58]:
# To get the webpage https://www.flipkart.com/ to scrape data 
driver.get("https://www.flipkart.com/")

In [59]:
# Closing the login pop-up
close_login = driver.find_element(By.XPATH, '//button[@class="_2KpZ6l _2doB4z"]')
close_login.click()

In [60]:
# Enter “Sneakers” in the search field
product = driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("sneakers")

In [61]:
# clicking on the search icon after entering the product name
search = driver.find_element(By.CLASS_NAME, "_34RNph")
search.click()

In [62]:
# Creating an empty list for the data to be scraped 
brand_sks =[]
product_description_sks = []
price_sks = []
discount_sks = []


# Scarping 100 'Sneakers'
for page in range(0,3):
    # Scraping the brand names of the 'Sneakers'
    brand_tags = driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for brand in brand_tags[0:100]:
        brand_sks.append(brand.text)
        
    # Scraping the product description of 'Sneakers'
    product_description_tags = driver.find_elements(By.XPATH, '//a[@class="IRpwTa"]')
    for pr_des in product_description_tags[0:100]:
        product_description_sks.append(pr_des.text)
    
    # Scraping the 'Price' of the 'Sneakers'
    price_tags = driver.find_elements(By.XPATH, '//div[@class="_30jeq3"]')
    for price in price_tags[0:100]:
        price_sks.append(price.text)
        
    # Scraping the "Discount" given for the 'Sneakers'
    discount_tags = driver.find_elements(By.XPATH, '//div[@class="_3Ay6Sb"]//span')
    for discount in discount_tags[0:100]:
        discount_sks.append(discount.text)
        
    # Moving the next page of 'Sneakers'
    next_page = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]//span')
    next_page.click()
    time.sleep(2)
    
print(len(brand_sks),len(product_description_sks),len(price_sks),len(discount_sks))

120 109 120 120

In [63]:
# Creating a DataFrame for 100 'Sneakers'
sneakers_df = pd.DataFrame({'Brand':brand_sg[0:100], 'Product Description':product_description_sg[0:100],"Price":price_sg[0:100], "Discount":discount_sg[0:100]})
print('-'*25,"First 100 Sneakers",'-'*25)
sneakers_df

------------------------- First 100 Sneakers -------------------------

,Brand,Product Description,Price,Discount
0,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (55)",₹499,75% off
1,ROZZETTA CRAFT,"Polarized, UV Protection Aviator Sunglasses (55)",₹499,75% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹799,20% off
3,DAHAAZIL,"UV Protection, Night Vision, Riding Glasses Wa...",₹204,79% off
4,SRPM,UV Protection Wayfarer Sunglasses (50),₹189,85% off
...,...,...,...,...
95,Fair-x,"Mirrored, Riding Glasses, UV Protection Sports...",₹360,75% off
96,ROZZETTA CRAFT,"Polarized, Riding Glasses Sports, Wrap-around ...",₹499,75% off
97,Fastrack,UV Protection Shield Sunglasses (Free Size),₹719,20% off
98,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹195,88% off
99,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...",₹349,76% off

### Q7: Go to the link - https://www.myntra.com/shoes
### Set second Price filter and Color filter to “Black”,
### And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
### description, price of the shoe as shown in the below image.

In [50]:
# Connecting the driver, using chromedriver
driver = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [51]:
# To get the webpage https://www.myntra.com/shoes to scrape data 
driver.get("https://www.myntra.com/shoes")

- Unable to right click and inspect. Due to this reason the required data cannot be scraped

### Q8: Go to webpage https://www.amazon.in/
### Enter “Laptop” in the search field and then click the search icon.
### Then set CPU Type filter to “Intel Core i7” as shown in the below image:
### After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
### 1. Title
### 2. Ratings
### 3. Price

In [64]:
# Connecting the driver, using chromedriver
driver = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [65]:
# To get the webpage https://www.amazon.in/ to scrape data 
driver.get("https://www.amazon.in/")

In [66]:
# Enter “Laptop” in the search field 
product = driver.find_element(By.XPATH,'//input[@type="text"]')
product.send_keys("Laptop")

In [67]:
# clicking on the search icon after entering the product name
search = driver.find_element(By.XPATH, '//input[@id="nav-search-submit-button"]')
search.click()

In [68]:
# Filtering the laptops based on “Intel Core i7”
filter_laptop = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031" and @aria-label="Intel Core i7" ]//span')
filter_laptop.click()

In [90]:
# Creating an empty list for the data to be scraped 
title_laptop = []
ratings_laptop = []
price_laptop = []


# Scraping the title of laptops
title = driver.find_elements(By.XPATH, '//span[@class="a-size-medium a-color-base a-text-normal"]')
for t in title[0:10]:
    title_laptop.append(t.text)

    
# Scraping the ratings of laptop
ratings = driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]')
for r in ratings[0:10]:
    ratings_laptop.append(r.get_attribute('text'))
    

# Scraping the price of laptop
price = driver.find_elements(By.XPATH, '//span[@class="a-price-whole"]')
for p in price[0:10]:
    price_laptop.append(p.text)
    
print(len(title_laptop),len(ratings_laptop),len(price_laptop))

10 10 10

In [92]:
sneakers_df['Ratings'].tolist()

['4.2 out of 5 stars',
 '3.9 out of 5 stars',
 '4.1 out of 5 stars',
 '3.6 out of 5 stars',
 '4.0 out of 5 stars',
 '3.6 out of 5 stars',
 '4.7 out of 5 stars',
 '4.5 out of 5 stars',
 '4.2 out of 5 stars',
 '4.4 out of 5 stars']

obtained the text for ratings using 'get_attribute', r.text was giving empty string

In [94]:
# Creating a DataFrame for 10 'Laptops'
sneakers_df = pd.DataFrame({'Title':title_laptop[0:10], 'Ratings':ratings_laptop[0:10],"Price":price_laptop[0:10]})
print('-'*25,"First 10 Laptops",'-'*25)
sneakers_df

------------------------- First 10 Laptops -------------------------

,Title,Ratings,Price
0,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",4.2 out of 5 stars,"89,990"
1,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,3.9 out of 5 stars,"62,990"
2,Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...,4.1 out of 5 stars,"82,400"
3,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.6 out of 5 stars,"56,590"
4,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,4.0 out of 5 stars,"87,990"
5,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,3.6 out of 5 stars,"79,490"
6,"LG Gram Intel Evo 11th Gen Core i7 17""(43cm)Ul...",4.7 out of 5 stars,"92,999"
7,"ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...",4.5 out of 5 stars,"1,09,990"
8,"ASUS VivoBook K15 OLED (2021), 15.6-inch FHD O...",4.2 out of 5 stars,"82,990"
9,Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...,4.4 out of 5 stars,"94,990"

### Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
### location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
### This task will be done in following steps:
### 1. First get the webpage https://www.ambitionbox.com/

In [107]:
# Connecting the driver, using chromedriver
ab = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [108]:
# To get the webpage https://www.ambitionbox.com/ to scrape data 
ab.get("https://www.ambitionbox.com/")

In [109]:
# Click on the Job option
job_op = ab.find_element(By.CLASS_NAME, 'navItemLink')
job_op.click()

In [110]:
# In place of “Search by Designations, Companies, Skills” enter “Data Scientist”
post = ab.find_element(By.XPATH, '//input[@title="Enter Designation, Company or a Skill"]')
post.send_keys("Data Scientist")

In [111]:
# click on search button.
search = ab.find_element(By.XPATH, '//button[@class="ab_btn search-btn round"]')
search.click()

In [112]:
# click on location
location = ab.find_element(By.XPATH, '//div[@title="Location"]')
location.click()

In [113]:
# Entering the location 'Noida'
noida = ab.find_element(By.XPATH, '//input[@placeholder="Search locations"]')
noida.send_keys('Noida')

In [114]:
# Clicking on Noida
search1 = ab.find_element(By.XPATH, '//label[@for="location_Noida"]')
search1.click()

In [115]:
# Creating an empty list for the data
name_company = []
job_post_days =[]
rating_company =[]


# Scraping the name of the company
company = ab.find_elements(By.XPATH, '//p[@class="company body-medium"]')
for c in company:
    name_company.append(c.text)
    
# Scraping the Number of days ago when job was posted 
days = ab.find_elements(By.XPATH, '//span[@class="body-small-l"]')
for d in days:
    a = []
    b = []
    for i in range(len(days)):
        if i % 2 == 0:
            a.append(days[i].text)
        elif i % 2 == 1:
            b.append(days[i].text)
job_post_days = a
    
# Scraping the Rating of the Company
rtg = ab.find_elements(By.XPATH, '//span[@class="body-small"]')
for r in rtg:
    rating_company.append(r.text)
    
print(len(name_company),len(job_post_days),len(rating_company))

10 10 10

In [116]:
# Creating a DataFrame for first 10 job results 
jobs_df = pd.DataFrame({'Company':name_company, 'Job posted days':job_post_days,"Rating":rating_company})
print('-'*25,"First 10 job results",'-'*25)
jobs_df

------------------------- First 10 job results -------------------------

                                          Company Job posted days Rating
0                         CBRE South Asia Pvt Ltd          6d ago    4.3
1                                         Genpact        18hr ago    4.0
2        Ericsson India Global Services Pvt. Ltd.         16d ago    4.3
3                   GENPACT India Private Limited          9d ago    4.0
4  Optum Global Solutions (India) Private Limited         13d ago    4.1
5  Optum Global Solutions (India) Private Limited         14d ago    4.1
6        Ericsson India Global Services Pvt. Ltd.         26d ago    4.3
7                      SOPRA STERIA INDIA LIMITED         15d ago    4.2
8                EXL Services.com ( I ) Pvt. Ltd.         15d ago    3.9
9                                              EY         25d ago    3.8

### Q10: Write a python program to scrape the salary data for Data Scientist designation.
### You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
### webpage https://www.ambitionbox.com/
#### Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
#### salary, minimum salary, maximum salary, experience required.

In [117]:
# Connecting the driver, using chromedriver
ab1 = webdriver.Chrome(r'G:\AI Professional\Data Trained\Internship Fliprobo Technologies\Webscraping (Selenium)\chromedriver.exe')

In [118]:
# To get the webpage https://www.ambitionbox.com/ to scrape data 
ab1.get("https://www.ambitionbox.com/")

In [119]:
# Click on the Salaries option
salary_op = ab1.find_element(By.XPATH, '/html/body/div[1]/nav[2]/div/ul/li[3]/a')
action = webdriver.ActionChains(ab1)
action.move_to_element(salary_op)
action.perform()

In [120]:
# continuation on the Salaries option
salary_browse = ab1.find_element(By.XPATH, '//a[@title="Browse salaries"]')
salary_browse.click()

In [121]:
# In place of “Search Job Profile” enters “Data Scientist”
data_sc = ab1.find_element(By.XPATH, '//input[@type="searchbox"]')
data_sc.send_keys('Data Scientist')

In [122]:
# then click on “Data Scientist”
ds = ab1.find_element(By.XPATH, '/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')
ds.click()

In [123]:
# Creating the empty list for the required data to be scraped
company_n = []
total_salary_record=[]
avg_salary = []
min_salary=[]
max_salary=[]
exp_reqd =[]

# Getting the names of the company
cn = ab1.find_elements(By.XPATH,'//div[@class="company-info"]')
for n in cn[0:10]:
    cd = n.text.split()[:-10]
    name = ''
    company_n.append(name.join(cd))

# Getting the total salary record of the company
cn = ab1.find_elements(By.XPATH,'//div[@class="company-info"]')
for n in cn[0:10]:
    s = n.text.split()[-2:]
    total_salary_record.append(s[0])

# Getting the average salary of the company
avg_s = ab1.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for av in avg_s:
    avg_salary.append(av.text)

# Getting the Maximum and Minimum salary of the company
max_min_s = ab1.find_elements(By.XPATH,'//div[@class="value body-medium"]')
for mm in range(len(max_min_s)):
    if mm % 2 == 0:
        min_salary.append(max_min_s[mm].text)
    elif mm % 2 == 1:
        max_salary.append(max_min_s[mm].text)
        
# Getting the experience required
exp = ab1.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for er in exp[0:10]:
    ex = er.text.split()[:-4]
    exp_reqd.append(ex[0]+' '+ex[1])

print(len(company_n),len(total_salary_record),len(avg_salary),len(max_salary),len(min_salary),len(exp_reqd))

10 10 10 10 10 10

In [124]:
# Creating a DataFrame for first 10 the salary data for Data Scientist designation 
salary_df = pd.DataFrame({'Company Name':company_n, 'Total salary record':total_salary_record,'Average Salary':avg_salary,
                         'Maximum Salary':max_salary,'Minimum Salary':min_salary,'Experince Required':exp_reqd})
print('-'*10,"First 10 the salary data for Data Scientist designation ",'-'*10)
salary_df

---------- First 10 the salary data for Data Scientist designation  ----------

,Company Name,Total salary record,Average Salary,Maximum Salary,Minimum Salary,Experince Required
0,Walmart,22,₹ 31.7L,₹ 45.0L,₹ 25.0L,3-4 yrs
1,AbInbev,53,₹ 19.7L,₹ 25.5L,₹ 15.0L,2-4 yrs
2,Optum,48,₹ 16.5L,₹ 22.6L,₹ 11.0L,2-4 yrs
3,ZS,33,₹ 15.7L,₹ 22.0L,₹ 11.0L,1-2 yrs
4,FractalAnalytics,109,₹ 15.2L,₹ 23.0L,₹ 9.0L,2-4 yrs
5,TigerAnalytics,65,₹ 14.7L,₹ 20.0L,₹ 9.0L,2-4 yrs
6,LegatoHealthTechnologies,11,₹ 14.5L,₹ 20.0L,₹ 11.0L,4 yrs
7,Tredence,12,₹ 14.1L,₹ 17.5L,₹ 8.8L,3 yrs
8,UnitedHealth,91,₹ 13.6L,₹ 20.5L,₹ 8.0L,2-4 yrs
9,FordMotor,21,₹ 13.5L,₹ 18.0L,₹ 10.0L,3-4 yrs

- Note: In some cases the length of the scraped data was not the same but the scraped data was sufficient to create a DataFrame as asked in the question